<table class="blog-content">
  <tbody>
    <tr>
      <th valign="top">Title</th>
      <td>
        <%= form.text_field :title, :class => 'title' %>
      </td>
    </tr>
    <tr>
      <th valign="top">Content</th>
      <td>
        <%= form.text_area :content %>
      </td>
    </tr>
    <tr>
      <th valign="top">Tag</th>
      <td>
        <%= form.text_field :blog_tags, :id => 'tags' %>
        <div class="blog-tags">
          <% Blog.all_tags.each do |tag| %>
            <%= link_to tag.name, '#' %>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <th valign="top">Upload</th>
      <td>
        <%= file_field_tag :upload_file %>
        <span id="spinner" style="display:none;">
          <%= image_tag "spinner.gif", size: "28x28" %>
        </span>
      </td>
    </tr>
    <tr>
      <th></th>
      <td align="center">
        <%= form.submit 'commit this post', :class => 'submit btn-primary' %>
      </td>
    </tr>
  <tbody>
</table>

<script>
  autosize($("textarea"));

  $(':file').change(function() {
    var file = this.files[0];
    if (typeof(file) == "undefined") {
      return false;
    }

    var formData = new FormData();
    formData.append("file", file);

    $.ajax({
      url: "/photos",
      dataType: "JSON",
      type: "POST",
      processData: false,
      contentType: false,
      data: formData,

      beforeSend: function() {
        showUploading();
      },

      success: function(res) {
        appendImageFromUpload(res.url);
        restoreUploaderStatus();
      },

      error: function(res) {
        alert("Upload failed");
        restoreUploaderStatus();
      }
    });
  });

  function showUploading() {
    $("#upload_file").hide();
    $('#spinner').show();
  }

  function appendImageFromUpload(src) {
    str = "[![](" + src + ")](" + src + ")\n";
    $target = $("#blog_content");
    start = $target[0].selectionStart;
    end = $target[0].selectionEnd;
    $target.val($target.val().substring(0, start) + str + $target.val().substring(end));
    $target[0].selectionStart = $target[0].selectionEnd = start + str.length;
    $target.focus();
  }

  function restoreUploaderStatus() {
    $('#spinner').hide();
    $("#upload_file").show();
  }

  function filterTags(tags) {
    var newArray = new Array();
    if (tags.length > 0) {
      var tag_list = tags.split(",");

      for (var i = 0; i < tag_list.length; ++i) {
        newArray.push(tag_list[i]);
      }
    }

    return newArray;
  }

  $('div.blog-tags a').click(function() {
    var tagName = $.trim($(this).html());
    var tagList = filterTags($("input#tags").val());
    var index = $.inArray(tagName, tagList);
    
    if (index === -1) {
      tagList.push(tagName);
    }
    else {
      tagList.splice(index, 1);
    }

    $("input#tags").val(tagList.join(",")).focus();
  });
</script>