<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <title><%= @title ? "#{@title} | #{APP_CONFIG['site_title']}" : APP_CONFIG['site_title'] %></title>
    <meta name="description" content="<%= @description || APP_CONFIG['site_description'] %>">
    <meta name="author" content="msl12">
    <link rel="shortcut icon" href='/favicon.ico'>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= action_name %>">
  	<div class="navigation">
  	  <div class="navigation-inner section-inner">
  	  	<ul class="blog-menu">
  	  	  <li>
  	  	  	<%= link_to 'About me', about_me_path %>
  	  	  </li>
          <% if account_login? %>
            <li>
              <%= link_to 'Write', main_app.new_blog_path %>
            </li>
            <li>
              <%= link_to 'Log out', main_app.logout_path, method: :delete %>
            </li>
          <% end %>
  	  	</ul>
  	  	<div class="clear"></div>
  	  </div>
  	</div>

  	<div class="header">
  	  <div class="header-inner section-inner">
  	  	<%= link_to root_path, title: 'stay hungry, stay foolish', class: 'logo' do %>
  	  	  <%= image_tag "website.jpg", alt: "msl12's Blog" %>
  	  	<% end %>  	  	
  	  	<h1 class="blog-title">
  	  		<%= link_to "msl12's Blog", root_path, title: 'stay hungry, stay foolish' %>
  	  	</h1>

        <div class="nav-toggle">
          <div class="bar"></div>
		      <div class="bar"></div>
		      <div class="bar"></div>
		      <div class="clear"></div>
		    </div>
		    <div class="clear"></div>
	    </div>
	  </div>

    <%= yield %>

    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>

    <div class="credits">
      <div class="credits-inner section-inner">
        <p class="credits-left">
          <%= link_to 'stay hungry, stay foolish', root_path %> | 
          <%= link_to '蜀ICP备16027814号', 'http://www.miitbeian.gov.cn', target: '_blank' %>
        </p>
        <p class="credits-right">
          <a title="To the top" class="tothetop">Up ↑</a>
        </p>
        <div class="clear"></div>
      </div>
    </div>

    <script>
      $(".nav-toggle").on("click", function() {	
        $(this).toggleClass("active");
        $(".navigation").slideToggle(function() {
          $(".navigation").css('overflow', 'visible');
        });

        return false;
      });

      $('.tothetop').click(function() {
        $("html, body").animate({scrollTop: 0}, 500);

        return false;
      });

      lightbox.option({
        'wrapAround': true
      });
      hljs.initHighlightingOnLoad();

      $(".post").each(function() {
          var id = $(this).attr("id");

          $(this).find(".post-content a").each(function() {
            if ($(this).find("img").length != 0) {
              $(this).attr("rel", "lightbox[" + id + "]");
            }
          });
      });
    </script>
  </body>
</html>